<ion-view  view-title="Resto Ya!"> 
   <ion-content  ng-model="cambiarToggle()">
     
      <ion-item  ng-show="ejemplo" class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in restaurantes" type="item-text-wrap" href="#/tab/resto/{{item.id}}">
        <img ng-src="{{item.face}}">
        <h2>{{item.nombre}}</h2>
        <p>{{item.price}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="agregarFavorito(item)">
          agregar a fav
        </ion-option-button>
      </ion-item>
       <div ng-hide="ejemplo">
       <leaflet width="100%" height="300px" markers="markers" center="centro"></leaflet>
     </div>
       
    </ion-list>
  </ion-content>
</ion-view>
